.place-list__place {
  width: 125px;
  padding: 10px;
  margin: 2.5px;
  background-color: #EFEFEF;
}

.place-list__place-name {

}

.place-list__place-address {
  font-size: 0.8em;
}

.place-list__place-position {
  font-size: 0.8em;
}
